<link rel="stylesheet" href="../mq-front/styles/popup.css">
<div class="popup">
    <p class="popTitle">Ajouter</p>
    <form>
        <div class="field">Nom :<input type="text" name="lastName" placeholder="Nom"/></div>
        <div class="field">Prénom :<input type="text" name="firstName" placeholder="Prénom"/></div>
        <div class="field">Date de naissance :<input type="text" name="birthDate" placeholder="Date de naissance"/></div>
        <div class="field">Adresse :<input type="text" name="address" name="address" placeholder="Adresse"/></div>
        <div class="field">Ville :<input type="text" name="city" placeholder="Ville"/></div>
        <div class="field">CP :<input type="text" name="zipCode" placeholder="CP"/></div>
        <div class="actionsBtns">
            <button class="confirmBtn" onclick="validate()">Valider</button>
            <button class="cancelBtn" onclick="closePopup()">Annuler</button>
        </div>
    </form>
</div>